*{
    font-size: 16px;
    margin:0;
    padding:0;
}
body{
    font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
    background-color: #F1F5F8;
}

a {
    color: #2B587A;
    cursor: pointer;
    text-decoration: none;
    outline: medium none;
    font-size:inherit;
}
a:hover {
    text-decoration: underline;
    outline: medium none;
}
h1,h2{
   color: #5980A9;   
}
h1 {
   font-weight: normal;
   margin: 5px 0; 
   font-size: 26px;
}
h2{
    font-size: 16px;
}
.clear{
    clear:both;
}
.content{
    width:1000px;
    margin: auto;
}
.header{
    /*background-color: yellow;*/
    height: 100px;
    padding: 10px;
    position: relative;
}

.header .menu{
    left: 230px;
    margin-top: 77px;
    position: absolute;
    top: -4px;
}
.header .menu ul li{
    cursor: default;
    display: inline;
    float: left;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 157px;
    height: 20px;
}
.header .menu ul li ul{
    display: none;
}
.header .menu ul li ul li{
    border-top: 2px solid white;
    height: 20px;
    margin-left: -11px;
    opacity: 0.9;
    position: relative;
    z-index: 1;
}
.header .register {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 31px;
}
.header .language {
    position: absolute;
    right: 19px;
    top: 10px;
}
.header .register .enter{
    font-weight: bold;
}
.header .rest{
    position: absolute;
    right: 20px;
    top: 32px;
}
.button{
    border: 1px solid #789ABF;
    background-color: #5980A9;
    color: white;
    cursor: pointer;
}
.button a{
    color: white;
    display: block;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;
}
.button.remove, .button.accept, .button.domove
{
	padding: 0 5px;
}
.button.remove{
	background-color: red;
}
.button.accept{
	background-color: green;
}
.button.domove{
	background-color: green;
}
.middle .teasers{
    margin: auto;
    /*background-color: antiquewhite;*/
    width: 100%;
}
.middle .teasers td{
    padding: 10px;
}
.middle .teasers .teaser{
    margin: auto;
    width: 200px;
    height: 200px;
    /*background-color: aliceblue;*/
    cursor: pointer;
    text-align: center;
}
.middle .games{
    width:100%;
    margin: 10px 0;
    border-collapse: collapse;
}

.middle .games tr:nth-child(2n+1){
   background-color: #789ABF;
}

.middle .games tr:nth-child(2n+1) *{
    color: white;
}

.middle .games tr:nth-child(2n){
   
}
.middle .games td{
    text-align: center;
    padding: 2px;
}
.pagination{
    width: 100px;
    margin: auto;
    height: 36px;
}
.pagination ul{
    list-style: none;
    margin-bottom: 10px;
}
.pagination ul li{
    float:left;
    border: 1px solid;
    border-radius:8px;
    margin: 2px;
    padding: 3px;
}
.apply_filter, .apply-call{
    text-align: center;
    margin-bottom: 10px;
}
.call_form {
    display: none;
}
.filter{
    position: fixed;
    width:360px;
    height:auto;
    padding: 5px;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: white;
    border:1px solid;
    z-index: 1;
}
.filter table{
    margin: auto;
}
.filter table td{
    padding: 2px;
}
.filter table input[type="submit"]
{
    float: right;
    width: 50px;
}
.footer{
    height: 150px;
    /*background-color: green;*/
}
.footer .overlay{
    display: none;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.6;
    position: fixed;
    background-color: #5980A9;
}
.ct-black-square, .ct-black-square-grey{
    background-color: #5980A9;
}
.ct-white-square, .ct-white-square-grey {
    background-color: white;
}
.ct-to-square {
    background: none repeat scroll 0 0 #0f0;
}
.ct-from-square{
    background: none repeat scroll 0 0 #8c8;
}
#playzone-container{
    float:left;
}
#playzone-moves{
    padding: 5px;
}
.action{
    padding: 5px;
    width: 368px;
}
.action .button{
    padding: 4px;
}
.action .button.draw{
    background-color: green;
}
.action .button.draw_accept{
    background-color: green;
    font-weight: bold;
}
.action .button.resign{
    background-color: red;
}
table.register{
    margin-top: 10px;
}
table.register td{
    padding: 5px 0;
}
.register.inner, .register.outer{
    display: none;
}
input[type="text"],input[type="password"]{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0CAD5;
    color: #000000;
    margin: 0;
    padding: 3px;
}
table.register.register td{
    padding: 5px;
}
table.register .error{
	color:red;
}
.error{
    color:red;
}
.errorMessage,.successMessage{
	text-align:center;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
	font-weight:bold;
	position: relative;
}
.errorMessage{
	color:red;
}
.successMessage{
	color:green;
}
.errorMessage .close, .successMessage .close{
	color: #5980A9;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    top: 2px; 
}
.promotion{
    display:none;
    position:fixed;
    height:49px;
    width:220px;
    background-color: #2B587A;
}
.board-piece-start-style{
    cursor: pointer;
}
.tournament_table,.games_table{
    border-collapse: collapse;
}
.tournament_table td,.tournament_table th{
    border: 1px solid #2B587A;
    padding: 2px;
}
.tournament_table tr{
    margin:0;
    padding:0;
}
.tournament_table th,.games_table th{
    text-align: left;
    padding: 3px;
    width:auto!important;
    min-width:40px;
}
.games_table{
    width:auto;
}
.games_table td,.games_table th{
    padding:5px 10px;
}
.logo{
    border: none;
}
.download_games{
    text-align: right;
    font-weight: bold;
}

.rating_table{
    width:100%; 
    margin: 10px 0;
    border-collapse:collapse;
}
.rating_table td{
    border: 1px solid black;
    padding:2px;
}
.chat{
    float: right;
    margin: 10px 0;
    width: 449px;
}
#all_messages div
{
    border-top: 1px dashed;
    padding:3px;
}
#all_messages div:first-child{
    border:none;
}
.chat textarea{
    width: 446px;
    border: 1px #5980A9 solid;
}
#all_messages{
    height: auto;
    border: 1px #5980A9 solid;
    padding: 2px;
    max-height: 200px;
    overflow: scroll;
}
.chat .send{
    margin: 3px 0;
}
th.header{
    border: 1px solid white;
    cursor: pointer;
    height: 40px;
    padding: 2px;
    border-bottom-width:3px;
}

.player_profile
{
    margin: 10px 0; 
}
.color_pic
{
    border:1px solid black;
    margin:auto;
    width:10px;
    height:10px;
}
.middle .games td.last_move{
    text-align: left;
    padding-left: 10px;
}
.send_manual_move{
    margin-top: 14px;
}
.send_manual_move h2{
    display:inline;
}
.send_manual_move #manual_move{
    width:102px;
}
h1.title_game{
    border-bottom: 1px solid;
    margin: 5px 0 11px;
    padding: 5px;
    text-align: center;
}
h1.title_game a{
    font-weight:bold;
}
.game_image_content .tab{
    display: none;
}
.game_image_content .tab:first-child{
    display: block;
}
.recover_table{
    border-collapse:collapse;
}
.recover_table td{
    border: 1px solid black;
    padding: 5px;
}
.rest{
    display:none;
}
.online_player{
    border: 2px solid green;
    /*color: green!important;*/
    padding: 2px;
    display: block;
    border-radius: 17px;
}
.download_games{
    text-align:center;
}
.player_profile.tournaments td{
    padding:5px;
}
.server_statictic{
	border-collapse: collapse;
}
.server_statictic tr td{
	border:1px solid;
	padding:3px;	
}
.server_statictic tr td:first-child{
	text-align:left;
}
.board_settings{
	float: left;
    width: 441px;
}
.board_settings .custom_settings{
	display:none;
}
