# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     playzone_symfony
    database_user:     playzone
    database_password: 010586
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    app_immortalchess.database_driver: pdo_mysql
    app_immortalchess.database_host: '192.168.102.101'
    app_immortalchess.database_port: null
    app_immortalchess.database_name: 'immortalchess'
    app_immortalchess.database_user: 'immortal223'
    app_immortalchess.database_password: '31415926535897'
    app_immortalchess.test.database_driver: pdo_mysql
    app_immortalchess.test.database_host: 'localhost'
    app_immortalchess.test.database_port: null
    app_immortalchess.test.database_name: 'immortalchess'
    app_immortalchess.test.database_user: 'immortalchess'
    app_immortalchess.test.database_password: '123456'
    app_call.lifetime: 300
    app_immortalchess.developer_email: 'staspivovartsev@gmail.com'
    app_immortalchess.thread_for_calls: 30629
    app_immortalchess.first_post_for_calls: 669198
    app_immortalchess.forum_playzone: 143
    app_immortalchess.post_username_for_calls: 'PozitiFF_Chess'
    app_immortalchess.post_userid_for_calls: 87
    app_last_chat_messages_count: 100
    app_max_players_for_round_robin: 12
    app_core_site_host: playzone.immortalchess.net
    app_core_websocket_server: ws://ws.playzone.immortalchess.net:8081/
    app_core_timezone: 'Europe/Moscow'
    max_lag_for_record: 0.4
    rounds_for_swiss: 7