<h1>{{ 'Authorization' | translate }}</h1>
<div class="alert alert-success">
    {{ 'Immortalchess.Net credentials are allowed' | translate }}
</div>
<table class="register auth">
    <tbody>
    <tr>
        <td>
            {{ 'Login' | translate }} / {{ 'Email' | translate }}:
        </td>
        <td>
            <input type="text" name="login" autocomplete="off" ng-model="user.login">
        </td>
        <td class="error">
            {{ errors.login | translate }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Password' | translate }}:
        </td>
        <td>
            <input type="password" name="password" autocomplete="off" ng-model="user.password">
        </td>
        <td class="error">
            {{ errors.password | translate }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="btn btn-group">
                <a class="btn btn-default" href="/#/register/">{{ 'Sign Up' | translate }}</a>
                <input class="btn btn-success" value="{{ 'Enter' | translate }}" type="submit" ng-click="auth()">
            </div>
        </td>
    </tr>
    </tbody>
</table>