<h1>{{ "Chat" | translate }}</h1>
<table class="table table-bordered">
    <tr>
        <td colspan="2">
            <label for="message">{{ "Your message" | translate }}</label>
            <input class="message" id="message" type="text">&nbsp;
            <input class="btn btn-primary send-call" value="OK" type="submit" data-ng-click="addMessage()">
        </td>
    </tr>
</table>
<div class="chat">
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="chatMessage in chat_messages">
                <td>
                    <user-link
                        data-user="chatMessage.user"
                    >
                    </user-link>
                    ({{ chatMessage.time }}): <b>{{ chatMessage.message }}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>