<playzone-chat data-message-container="$root.chat"
               data-rest-container="'chat'"
               data-chat-room="'common_chat'"
               ng-if="$root.connected && $root.user && $root.user.id"
>

</playzone-chat>
<div ng-controller="CallCtrl" ng-if="!!$root.user.id">
    <div class="call-form filter table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td class="warning" colspan="2">{{ 'Personal calls do not affect the rating' |
                    translate }}</td>
            </tr>
            <tr ng-class="{ error: errors.player }">
                <td><label for="login_enemy">{{ 'Player' | translate }}:</label></td>
                <td>
                    <input type="text" id="login_enemy" data-ng-model="call.player" placeholder="{{ 'To all' | translate }}">
                </td>
            </tr>
            <tr ng-class="{ error: errors.color }">
                <td><label for="color">{{ 'Color' | translate }}:</label></td>
                <td>
                    <select
                            id="color"
                            data-ng-model="call.color"
                            ng-options="color.name|translate for color in colors track by color.id">
                    </select>
                </td>
            </tr>
            <tr ng-class="{ error: errors.time }">
                <td><label for="time_base">{{ 'Time control (minutes)' | translate }}:</label></td>
                <td>
                    <input type="number" min="1" max="60" id="time_base" data-ng-model="call.time.base_minutes" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input title="Cancel" class="btn btn-danger" type="submit" value="{{ 'Cancel' | translate }}">&nbsp;
                    <input class="btn btn-primary send-call" value="OK" type="submit" data-ng-click="sendCall(call)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="apply-call">
        <a class="btn btn-success open-popup" data-open-popup=".call-form"
                                              data-ng-click="openSendCallToAll()">
            {{ 'Call on the game' | translate }}
        </a>
        <a class="btn btn-warning open-popup" data-open-popup=".call-form"
                                              data-ng-click="openSendCallToRobot()">
            {{ 'Against robot' | translate }}
        </a>
    </div>
</div>
<h1>{{ "Your calls" | translate }}</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>{{ "To user" | translate }}</th>
            <th>{{ "Time control (minutes)" | translate }}</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="call in calls_from_me" ng-if="call.id">
            <td>
                <a href="" ng-click="deleteCall(call);">{{ call.id }}</a>
            </td>
            <td>
                {{ call.to_user.login ? call.to_user.login : "To all" | translate }}
            </td>
            <td>
                {{ call.game_params.time_base / 60000 }}
            </td>
            <td>
                <a href="" class="btn btn-danger glyphicon glyphicon-remove" ng-click="deleteCall(call);" title="{{ 'Remove' | translate }}"></a>
            </td>
        </tr>
    </table>
</div>
<h1>{{ "Calls to you" | translate }}</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>{{ "From user" | translate }}</th>
            <th>{{ "Time control (minutes)" | translate }}</th>
            <th width="20%">&nbsp;</th>
        </tr>
        <tr ng-repeat="call in calls_to_me" ng-if="call.id && call.from_user.id != $root.user.id">
            <td>
                <a href="" ng-click="acceptCall(call)">{{ call.id }}</a>
            </td>
            <td>
                <a href="/#/user/{{ call.from_user.id }}/profile">{{ call.from_user.login }}</a>
            </td>
            <td>
                {{ call.game_params.time_base / 60000 }}
            </td>
            <td>
                <div class="btn btn-group">
                    <a href="" class="btn btn-success glyphicon glyphicon-ok" ng-click="acceptCall(call)">

                    </a>
                    <a href="" ng-if="call.to_user.id == $root.user.id" class="btn btn-danger glyphicon glyphicon-remove" ng-click="declineCall(call)">

                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<h1>{{ "Current games" | translate }} ({{ current.length }})</h1>
<div class="table-responsive">
    <table class="table current">
        <thead>
        <tr>
            <th>№</th>
            <th>{{ "White" | translate }}</th>
            <th>{{ "Black" | translate }}</th>
            <th>{{ "Result" | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in current">
            <td>
                <a ng-show="game.user_move" href="/#/play/{{ game.id }}" class="btn btn-success glyphicon glyphicon-play" title="{{ 'Do move' | translate }}"></a>
                <a ng-show="!game.user_move" href="/#/play/{{ game.id }}" class="btn btn-info glyphicon glyphicon-eye-open" title="{{ 'See' | translate }}"></a>
            </td>
            <td>
                <span>
                    <a href="/#/user/{{ game.user_white.id }}/profile">{{ game.user_white.login }}</a>
                </span>
            </td>
            <td>
                <span>
                    <a href="/#/user/{{ game.user_black.id }}/profile">{{ game.user_black.login }}</a>
                </span>
            </td>
            <td>
                <span>{{ game.result_white }} - {{ game.result_black }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>