<div class="text">
    <p style="font-weight: bold;margin-bottom: 10px;">{{ 'Welcome to the server for playing chess!' | translate }}</p>
    <p>{{ 'The main server possibilities' | translate }}:
    <ol style="list-style: inside;">
        <li ng-repeat="possibility in mainPossibilities">
            {{ possibility | translate }}
        </li>
    </ol>
    </p>
    <p ng-if="!$root.user.isAuth" style="margin: 10px 0;">{{ 'For playing chess here you must' | translate }} <a class="button accept" style="font-size:20px;" href="/#/register/">{{ 'register' | translate }}</a></p>
    <p style="margin: 10px 0;">
        {{ 'You may send your wishes about improving our server using feedback form below' | translate }}
    </p>
    <form action="/#/feedback/" method="post">
        <table>
            <tr>
                <td>
                    {{ 'Your name' | translate }}:
                </td>
                <td>
                    <input name="name" required="" type="text" style="width: 300px;" />
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'Your e-mail' | translate }}:
                </td>
                <td>
                    <input name="email" required="" type="text" style="width: 300px;" />
                </td>
            </tr>
            <tr>
                <td>
                    {{ 'Your message' | translate }}:
                </td>
                <td>
                    <textarea name="message" required="" rows="10" style="width: 304px;"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="checkvalid" value="" style="display: none;" />
                    <input type="hidden" name="postback" value="1" />
                </td>
                <td style="text-align: right;">
                    <input type="submit" class="button" value="{{ 'Send' | translate }}" />
                </td>
            </tr>
        </table>
    </form>
</div>