<div class="games-home">
    <h1>{{ "Current games" | translate }} ({{ current.length }})</h1>
    <games-list data-games="current"></games-list>
    <h1>{{ "Players online" | translate }}</h1>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>№</th>
                <th>{{ "Player" | translate }}</th>
                <th>{{ "Action" | translate }}</th>
            </tr>
            <tr ng-repeat="player in $root.loginsOnline">
                <td>
                    <a href="">{{ $index + 1 }}</a>
                </td>
                <td>
                    <user-link
                            data-user="player"
                    ></user-link>
                </td>
                <td>
                    <a ng-if="player.login !== $root.user.login" class="btn btn-success open-popup" data-open-popup=".call-form"
                       ng-click="openSendCallToPlayer(player)">
                        {{ 'Call on the game' | translate }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="tournaments-home">
    <h1>{{ "New tournaments" | translate }}</h1>
    <tournaments-list
            data-tournaments="tournaments_new"
            data-record="recordIntoTournament"
            data-unrecord="unrecordFromTournament"
    >

    </tournaments-list>
    <h1>{{ "Current tournaments" | translate }}</h1>
    <tournaments-list data-tournaments="tournaments_current"></tournaments-list>
    <h1>{{ "Finished tournaments" | translate }}</h1>
    <tournaments-list data-tournaments="tournaments_finished"></tournaments-list>
</div>
<div class="chat-home">
    <playzone-chat data-message-container="$root.chat"
                   data-rest-container="'chat'"
                   data-chat-room="'common_chat'"
                   ng-if="$root.connected && $root.user && $root.user.id"
    >

    </playzone-chat>
</div>