<div ng-controller="CallCtrl" ng-if="!!$root.user.id">
    <div class="call-form filter table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <td class="warning" colspan="2">{{ 'Personal calls do not affect the rating' |
                    translate }}</td>
            </tr>
            <tr ng-class="{ error: errors.player }">
                <td><label for="login_enemy">{{ 'Player' | translate }}:</label></td>
                <td>
                    <input type="text" id="login_enemy" data-ng-model="call.player" placeholder="{{ 'To all' | translate }}">
                </td>
            </tr>
            <tr ng-class="{ error: errors.color }">
                <td><label for="color">{{ 'Color' | translate }}:</label></td>
                <td>
                    <select
                            id="color"
                            data-ng-model="call.color"
                            ng-options="color.name|translate for color in colors track by color.id">
                    </select>
                </td>
            </tr>
            <tr ng-class="{ error: errors.color }">
                <td><label for="rate">{{ 'Rate' | translate }}:</label></td>
                <td>
                    <input type="checkbox" id="rate" data-ng-model="call.rate" value="1" checked="checked" />
                </td>
            </tr>
            <tr ng-class="{ error: errors.time }">
                <td colspan="2">
                    <label for="time_base">{{ 'Time control (minutes)' | translate }}:</label>
                    <input type="number" min="1" max="60" id="time_base" data-ng-model="call.time.base_minutes" />
                    <label for="time_increment">{{ 'Time control (increment)' | translate }}:</label>
                    <input type="number" min="0" max="5" id="time_increment" data-ng-model="call.time.increment_seconds" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input title="Cancel" class="btn btn-danger" type="submit" value="{{ 'Cancel' | translate }}">&nbsp;
                    <input class="btn btn-primary send-call" value="OK" type="submit" data-ng-click="sendCall(call)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h1>{{ "Players online" | translate }}</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>{{ "Player" | translate }}</th>
            <th>{{ "Rating" | translate }}</th>
            <th>{{ "W-D-L" | translate }}</th>
            <th>{{ "Action" | translate }}</th>
        </tr>
        <tr ng-repeat="player in $root.loginsOnline">
            <td>
                <a href="">{{ $index + 1 }}</a>
            </td>
            <td>
                <user-link
                        data-user="player"
                        data-withoutrating="true"
                ></user-link>
            </td>
            <td>
                {{ player.rating }}
            </td>
            <td>
                {{ player.win }}-{{ player.draw }}-{{ player.lose }}
            </td>
            <td>
                <a ng-if="player.login !== $root.user.login" class="btn btn-success open-popup" data-open-popup=".call-form"
                   ng-click="openSendCallToPlayer(player)">
                    {{ 'Call on the game' | translate }}
                </a>
            </td>
        </tr>
    </table>
</div>
<h1>{{ "Top 100" | translate }}</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>{{ "Player" | translate }}</th>
            <th>{{ "Rating" | translate }}</th>
            <th>{{ "W-D-L" | translate }}</th>
        </tr>
        <tr ng-repeat="player in top track by $index">
            <td>
                <a href="">{{ $index + 1 }}</a>
            </td>
            <td>
                <user-link
                        data-user="player"
                        data-withoutrating="true"
                ></user-link>
            </td>
            <td>
                {{ player.rating }}
            </td>
            <td>
                {{ player.win }}-{{ player.draw }}-{{ player.lose }}
            </td>
        </tr>
    </table>
</div>