<div ng-controller="CallCtrl">
    <div class="call-form filter">
        <table>
            <tbody>
            <tr>
                <td class="warning" colspan="2">{{ 'Personal calls do not affect the rating' |
                    translate }}</td>
            </tr>
            <tr ng-class="{ error: errors.player }">
                <td><label for="login_enemy">{{ 'Player' | translate }}:</label></td>
                <td>
                    <input type="text" id="login_enemy" data-ng-model="call.player" placeholder="{{ 'To all' | translate }}">
                </td>
            </tr>
            <tr ng-class="{ error: errors.color }">
                <td><label for="color">{{ 'Color' | translate }}:</label></td>
                <td>
                    <select
                            id="color"
                            data-ng-model="call.color"
                            ng-options="color.name|translate for color in colors track by color.id">
                    </select>
                </td>
            </tr>
            <tr ng-class="{ error: errors.time }">
                <td><label for="time_base">{{ 'Time control (minutes)' | translate }}:</label></td>
                <td>
                    <input type="number" min="1" max="30" id="time_base" data-ng-model="call.time.base_minutes" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="button send-call" value="OK" type="submit" data-ng-click="sendCall(call)"><input title="Cancel" class="button" type="submit" value="{{ 'Cancel' | translate }}">&nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h1>{{ "Players online" | translate }}</h1>
<table class="games">
    <tr>
        <th>№</th>
        <th>{{ "Player" | translate }}</th>
        <th>{{ "Action" | translate }}</th>
    </tr>
    <tr ng-repeat="player in $root.loginsOnline track by $index">
        <td>
            <a href="">{{ $index + 1 }}</a>
        </td>
        <td>
            <a href="/#/profile/">{{ player }}</a>
        </td>
        <td>
            <a ng-if="player !== $root.user.login" class="button accept open-popup" data-open-popup=".call-form"
               ng-click="openSendCallToPlayer(player)">
                {{ 'Call on the game' | translate }}
            </a>
        </td>
    </tr>
</table>