<div class="alert alert-success" ng-if="!!newCall">
    {{ 'New challenge has been appeared' | translate }}&nbsp;
    <a target="_blank" href="/#/games" class="btn btn-success">
        {{ 'See' | translate }}
    </a>
</div>
<div class="alert alert-warning">
    {{ 'The game against robot without time' | translate }}
</div>
<div id="playroom">
    <div class="play-chess-board chess-board-legal" data-board="board">
        <div class="clear">&nbsp;</div>
        <div id="board"></div>
        <div ng-if="game.status == 'end'" class="pgn"></div>
        <div class="clear">&nbsp;</div>
        <div class="action" ng-if="game.status == 'play' && game.mine">
            <span ng-class="{'btn-success': game.draw && game.draw !== game.color}"
                  class="btn btn-primary draw"
                  ng-click="draw()">{{ "Draw" | translate }}</span>
            <span class="btn btn-danger resign" ng-click="resign()">{{ "Resign" | translate }}</span>
        </div>
    </div>
</div>