<div id="board"></div>
<div class="answer">
    <chess-timer
            class="white"
            data-time="60000"
            data-user="$root.user"
            data-zeitnot="10000"
            data-current="!isDisplayHint"
            data-game="game"
            data-fix-time="showHint()"
            data-refresh-time="100"
    ></chess-timer>
    <div>
        {{ "Answer will display below" | translate }}
    </div>
    <div class="hint" ng-if="!!isDisplayHint" ng-class="{'correct': !!correct, 'incorrect': !!incorrect}">
        <b>{{ "Answer" | translate }}: </b>
        {{ problem.pgn }}
    </div>
</div>