<h1>
    {{ "Problems" | translate }}
</h1>
<div id="board"></div>
<div class="answer">
    <chess-timer
            class="white chess-timer"
            data-time="time"
            data-user="$root.user"
            data-zeitnot="0"
            data-current="!isDisplayHint"
            data-game="game"
            data-fix-time="showHint()"
            data-refresh-time="1000"
    ></chess-timer>
    <div>
        {{ "Answer will display below" | translate }}
    </div>
    <div class="hint" ng-if="!!isDisplayHint" ng-class="{'correct': !!correct, 'incorrect': !!incorrect}">
        <b>{{ "Answer" | translate }}: </b>
        {{ userProblem.problem.pgn }}
    </div>
    <div class="result">
        <b>{{ "Your result" | translate }}</b>
        {{ userProblem.solved }} {{ "from" | translate }} {{ userProblem.total }}
    </div>
    <div>
        <a class="btn btn-info" ng-click="getRandomProblem()">
            {{ "Next problem" | translate }}
        </a>
    </div>
</div>