<h1>{{ 'Profile' | translate }} {{ user.login }}</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <span>
                    {{ "Win count" | translate }}:
                </span>
            </td>
            <td>
                {{ user.win }}
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    {{ "Draw count" | translate }}:
                </span>
            </td>
            <td>
                {{ user.draw }}
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    {{ "Lose count" | translate }}:
                </span>
            </td>
            <td>
                {{ user.lose }}
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    {{ "See" | translate }} {{ "games" | translate }}:
                </span>
            </td>
            <td>
                <a class="btn btn-default" href="/#/user/{{user.id}}/archive">
                    <span class="btn btn-info glyphicon glyphicon-eye-open">
                        {{ "games" | translate }}
                    </span>
                </a>
            </td>
        </tr>
        <tr ng-if="user.pgn_link">
            <td>
                <span>
                    {{ "Download player games" | translate }}:
                </span>
            </td>
            <td>
                <a class="btn btn-default" target="_blank" href="{{ user.pgn_link }}">
                    <span class="glyphicon glyphicon-download"></span> PGN
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>