<div class="alert alert-info">
    {{ 'Round' | translate }} {{ tournament.current_round }} {{ 'from' | translate }} {{ tournament.rounds }}
</div>
<div class="table-responsive">
    <table class="table tournament_table">
        <tr>
            <th class="player">#</th>
            <th class="player">{{ "Player" | translate }}</th>
            <th ng-repeat="firstPlayer in tournament.players">{{ $index + 1 }}</th>
            <th class="result">{{ "Points" | translate }}</th>
            <th class="result">{{ "Berger" | translate }}</th>
        </tr>
        <tr ng-repeat="firstPlayer in tournament.players">
            <td class="player">{{ $index+1 }}</td>
            <td class="player"><user-link data-user="firstPlayer.player" data-rating="firstPlayer.rating"></user-link></td>
            <td
                    ng-repeat="secondPlayer in tournament.players"
                    ng-class="{self: firstPlayer.id == secondPlayer.id}"
            >
                <a ng-repeat="game in tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]"
                   ng-class="{
                    draw: game['result'] == 0.5,
                    win: game['result'] == 1,
                    lost: game['result'] == 0
                    }"
                   href="/#/play/{{ game['game_id'] }}"
                >
                    {{ beautyResult(game["result"]) }}
                </a>
            </td>
            <td class="result">{{ firstPlayer.points }}</td>
            <td class="result">{{ firstPlayer.coefficient }}</td>
        </tr>
    </table>
</div>