<div class="table-responsive">
    <table class="table tournament_table">
        <tr>
            <th class="player">#</th>
            <th class="player">{{ "Player" | translate }}</th>
            <th ng-repeat="firstPlayer in tournament.players">{{ $index + 1 }}</th>
            <th class="result">{{ "Points" | translate }}</th>
            <th class="result">{{ "Berger" | translate }}</th>
        </tr>
        <tr ng-repeat="firstPlayer in tournament.players">
            <td class="player">{{ $index+1 }}</td>
            <td class="player"><user-link data-user="firstPlayer.player"></user-link></td>
            <td
                    ng-repeat="secondPlayer in tournament.players"
                    ng-class="{
                    draw: tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]['result'] == 0.5,
                    win: tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]['result'] == 1,
                    lost: tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]['result'] == 0,
                    self: firstPlayer.id == secondPlayer.id}"
            >
                <a href="/#/play/{{ tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]['game_id'] }}">
                    {{ beautyResult(tournament.results_for_round_robin[firstPlayer.id][secondPlayer.id]["result"]) }}
                </a>
            </td>
            <td class="result">{{ firstPlayer.points }}</td>
            <td class="result">{{ firstPlayer.coefficient }}</td>
        </tr>
    </table>
</div>