<div class="table-responsive">
    <table class="table">
        <tr>
            <th>№</th>
            <th>{{ "Tournament" | translate }}</th>
            <th>{{ "Parameters" | translate }}</th>
            <th>{{ "Type" | translate }}</th>
            <th>{{ "Time begin" | translate }}</th>
            <th ng-if="record">{{ "Action" | translate }}</th>
        </tr>
        <tr
                ng-repeat="tournament in tournaments track by $index"
                ng-class="{success: tournament.mine, error: tournament.forbidden}"
        >
            <td>
                <a href="">{{ tournament.id }}</a>
            </td>
            <td>
                <a href="/#/tournament/{{ tournament.id }}">{{ tournament.name }}</a>
            </td>
            <td>
                <a href="">{{ tournament.game_params.time_base / 60000 }}{{ "m" | translate }}</a>
            </td>
            <td>
                <a href="">{{ tournament.tournament_params.type | translate }}</a>
            </td>
            <td>
                <a href="">{{ tournament.tournament_params.time_begin }}</a>
            </td>
            <td>
                <tournament-record
                    ng-if="tournament.status == 'new'"
                    data-tournament="tournament"
                ></tournament-record>
            </td>
        </tr>
    </table>
</div>